#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li.active
      %a='Home'
    %li
      %a='Otro'
    %li
      %a='Mas'
    %li.dropdown
      %a.dropdown-toggle{href:"#",data:{toggle:"dropdown"},role:"button",
                         aria:{haspopup:"true",expanded:"false"}}
        = 'Dropdown'
        %span.caret
      %ul.dropdown-menu
        %li
          %a='Action'
        %li
          %a='Another action'
        %li
          %a='Something'
        %li.divider{role:"separator"}
        %li.dropdown-header= 'Nav header'
        %li
          %a='Separated link'
        %li
          %a='One more separated link'

  = form_tag('/users/sign_out', method: :delete, class:"navbar-form navbar-right")

  %button.btn.btn-danger{type:"submit"}='Sign out'
